
/* small device Size */
@media all and (max-width: 576px) {

    .subNavSec{
        width: 18vw;
        margin-right: 1vw;
    }

    .subNavSec>a>h4{
        color: aliceblue;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 3vh;  /*neet to be edit*/   
    }

    .titles{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: inline-block;
        margin-top: 3%;
        margin-left: 35vw;
        margin-bottom: 5%;
        font-size: xxx-large;
    }


}

/* small device Size */
@media all and (max-width: 640px) {

    .subNavSec{
        width: 18vw;
        margin-right: 1vw;
    }

    .subNavSec>a>h4{
        color: aliceblue;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 3vh;  /*neet to be edit*/   
    }

    .titles{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: inline-block;
        margin-top: 3%;
        margin-left: 35vw;
        margin-bottom: 5%;
        font-size: xxx-large;
    }




}