body{
    background-color: black;
}

header{
    /* background-color: rgb(1, 14, 26); */
    background: url(../../assets/people.jpg);
    height: 95vh;
}

#navBarSec {
    display: flex;
    justify-content: flex-end;
}

#navSec{
    display: flex;
}

.subNavSec{
    width: 10vw;
    margin-right: 1vw;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.subNavSec>a>h4{
    color: aliceblue;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3vh;  /*neet to be edit*/  
}

#logoSec{
    position: absolute;
    width: 6vw;
    height: 10vh;
    margin-left: 2vw;
    margin-top: -10vh;
    background-color: aliceblue;
    border-radius: 5px;
}

.logoImage{
    width: 6vw;
    height: 10vh;
    border-radius: 5px;
}

header>h1{
    color: aliceblue;
}

#mainTextOne{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: -28vw;
    margin-top: 25vh;
}

#mainTextTwo{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-left: 5vw;
    margin-top: -5vh;
    font-size: 15vh;
}

#pagesDiv{
    padding: 2%;
    background-color: rgb(201, 195, 195);
}

.naviBtn{
    width: 25vw;
    border-radius: 8px;
    background-color: #95a5a6;
    border: 1px solid rgb(140, 216, 235);
}

#clothingBtn{
    margin-bottom: 8%;
    margin-left: 22vw;
}

#eventBtn{
    margin-left: 2%;
}

.goNav{
    color: #2c3e50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#mainSec{
    position: relative;
    background-color: rgb(201, 195, 195);
    margin-top: -5%;
    height: auto;
    padding-bottom: 2%;
}

.titles{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-top: 3%;
    margin-left: 40vw;
    margin-bottom: 5%;
    font-size: xxx-large;
}

    section{
        width: 95%;
        height: auto;
        margin-left: 2.5%;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(4,1fr);
        gap: 9px;
    }

    section > div {
        background-size: cover;
        background-position: center;
    }

    section>div>img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    section>div:nth-child(1){
        grid-column: 1/3;
        background-color: #ffffff;
    }

    section>div:nth-child(2){
        background-color: #ffffff;
    }

    section>div:nth-child(3) {
        grid-row: 1/4;
        grid-column: 4/5;
        background-color: #ffffff;
    }

    section>div:nth-child(4) {
        background-color: #ffffff;
    }

    section>div:nth-child(5) {
        background-color: #ffffff;
    }

    section>div:nth-child(6) {
        background-color: rgb(255, 255, 255);
    }

    section>div:nth-child(7) {
        background-color: #ffffff;
    }

    section>div:nth-child(8) {
        grid-column: 2/4;
        grid-row: 3/4;
        background-color: #ffffff;
    }


#goCollection{
    font-family: sans-serif;
    display: inline;
    font-size: x-large;
    font-weight: 900;
    color: #05060e;
}

#goBtn{
    display: inline;
    width: fit-content ;
    margin-left: 44vw;
    margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 5px;
    border: #c8d6e5;
    background-color: #8b97a3;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#aboutDiv{
    background-color: #05060e;

}

.titleTwo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-top: 3%;
    margin-left: 40vw;
    margin-bottom: 5%;
    font-size: xxx-large;
    color: aliceblue;
}

#subaAbout{
    width: 70vw;
    margin-left: 15vw;
}

#subTitle{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-align: center; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
}

.aboutText{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-align: center; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
}

#contactSec{
    margin-top: 5vh;
    background-color: #000000;
}

#contactSecOne{
    margin-left: 10vw;
}

#contactSecTwo{
    margin-top: 12vh;
    margin-left: 6vw;
}

#contactSecThree{
    margin-left: 45vw;
    margin-top: -30vh;
}

#contactSecOne>h4{
    color: aliceblue;
    margin-right: 1vw;
    font-weight: 600;
    font-size: larger;
    margin: 0 auto; 
    padding: 5px;
}

#simpleText{
    color: aliceblue;
    font-weight: 900;
    font-size: x-large;
    margin: 0 auto; 
    padding: 5px;
}

.iconSec{
    position: relative;
    display: inline-block;
    width: 5vw;
    height: 10vh;
    margin-left: 2vw;
    margin-top: -10vh;
    border-radius: 50px;
    background-color: aliceblue;
    border: 1px solid silver;
}

.logoImageTwo{
    width: 5vw;
    height: 10vh;
    border-radius: 50px;
}

.fields{
    width: 25vw;
    border-radius: 5px;
    height: 5vh;
    border: 0;
}

#subBtn{
    width: 20vw;
    border-radius: 5px;
    margin-left: 2.5vw;
    height: 7vh;
    border: 1px solid silver;
    background-color: #79ace2;
}

#footerText{
    margin-top: 5vh;
    color: #c8d6e5;
    text-align: center;
}